.cart-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.cart-products {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart-name, .cart-total-price, .product-name, .product-category, .product-price {
    font-size: 14px;
}

.rectangle {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
<<<<<<< Updated upstream
    height: auto;
=======
>>>>>>> Stashed changes
}

.cart-header {
    margin-bottom: 5px;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  /* 오른쪽 정렬 */
}

.category-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;  /* 오른쪽 정렬 */
    gap: 5px;  /* 카테고리명과 아이템 사이 간격 */
}

.category-items {
    min-width: 100px;  /* 아이템 텍스트의 최소 너비 설정 */
    text-align: left;
<<<<<<< Updated upstream
}

.orderButton {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    float: right; /* 오른쪽에 위치하도록 추가 */
}

.orderButton:hover {
    background-color: #ffaa00;
    color: white;
}

.payment-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모달 콘텐츠 */
.payment-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* 닫기 버튼 */
.payment-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

/* 버튼 컨테이너 */
.payment-modal .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    margin-top: 20px;
}

.payment-modal .button {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}