/* Paste the provided CSS here */
body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Noto Sans', sans-serif;
}

*,:after,:before {
    box-sizing: border-box;
}

.clearfix:after,.clearfix:before {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
    display: block;
}

a {
    text-decoration: none;
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 780px;
    position: relative;
    /*background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;*/
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    border-radius: 15px; /* 로그인 박스 모서리 둥글게 */
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 15px 70px 50px 70px;
    background: rgb(10 12 20 / 90%);
    border-radius: 20px; /* 로그인 박스 모서리 둥글게 */
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    padding-bottom: 15px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    color: RGB(128, 128, 128);
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    /*margin-bottom: 15px;*/
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}/* Style for the input fields */
input[type="text"], input[type="password"], input[type="email"], select {
    width: 90%;
    padding: 15px 0;
    font-size: 20px;
    height: 50px;
    color: rgb(219 134 14);
    /*margin-bottom: 50px;*/
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    /*position: absolute;*/
    /*top: 25%;*/
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px; /* 아래 여백 추가 */
    position: relative; /* absolute에서 relative로 변경 */
    top: 100px; /* top 위치 자동 조정 */
}

/* Focus state for inputs */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus {
    /*     border-color: #1161ee;
        outline: none;
        box-shadow: 0 0 5px rgba(17, 97, 238, 0.6); */
}

#login-button {
    position: relative;
    bottom: auto;
    margin-top: 10px; /* 상단 여백 추가 */
    left: 0%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(219 134 14);
    color: #FFFFFF;
    border: none;
    width: 400px;
    height: 45px;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin: 180px auto;
    display: block;
}

/* Placeholder styling */
input::placeholder {
    color: #aaa;
    /*     font-style: italic; */
}

/* Styling for the select dropdown */
select {
    width: 90%;
    padding: 0px 0;
    font-size: 20px;
    height: 50px;

    /*margin-bottom: 50px;*/
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    /*position: absolute;*/
    /*top: 25%;*/
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px; /* 아래 여백 추가 */
    position: relative; /* absolute에서 relative로 변경 */
    top: 100px; /* top 위치 자동 조정 */
    color: rgb(219 134 14);
}

select:focus {
    outline: none;
    box-shadow: none;
    border-color: 2px solid #fff; /* 필요하다면 추가 */

}
/* 소셜 로그인 버튼 스타일 */
.social-login button {
    width: 60px;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 0; /* 텍스트 제거 */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 58px; /* 버튼 높이 설정 */
    position: relative;
    top: -90px; /* 아래로 10px 이동 */
    left: 0px; /* 오른쪽으로 20px 이동 */
}

/* 네이버 로그인 버튼 */
.social-login .naver {
    margin: 10px;
    background-image: url('/images/email/naver.png');
    background-color: #1ec800; /* 로고 배경 색상 */
    border-radius: 50%;
}

.social-login .naver:hover {
    background-color: #1a9d00; /* 호버 시 색상 */
}

/* 카카오 로그인 버튼 */
.social-login .kakao-login {
    margin: 10px;
    background-image: url('/images/email/kakao.png');
    border-radius: 50%;
    background-color: #fee500;
}

.social-login .kakao-login:hover {
    background-color: #f7d500; /* 호버 시 색상 */
}

/* 구글 로그인 버튼 */
.social-login .google {
    margin: 10px;
    background-image: url('/images/email/google.png');
    border-radius: 50%;
    background-color: #4285f4;
}

.social-login .google {
    background-color: #357ae8; /* 호버 시 색상 */
}
.rectangle-10{
    display: flex
;
    justify-content: center
}
.group p{
    text-align: center;
    font-weight: normal;
    display :inline-block;
}


/* ID 입력창 */
#signup-id {
    position: relative;
    top: 0px; /* 위로 20px 이동 */
    left: 190px; /* 왼쪽으로 10px 이동 */
    margin-bottom: 20px; /* 아래 여백 */
    z-index: 1; /* 버튼이 입력창 위로 오도록 설정 */
}

/* ID 중복 검사 버튼 */
#check-id-btn {
    background-color: rgb(81 81 81);
    color: #fff;
    font-size: 0.7rem; /* 글자 크기 */
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 1px 2px; /* 버튼 내부 여백 */
    width: 70px; /* 버튼 너비 */
    height: 35px; /* 버튼 높이 */
    position: relative;
    top: -65px; /* 부모 요소 기준 상단에서 100px */
    left: 330px; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 버튼 중심 정렬 */
    cursor: pointer;
    z-index: 2; /* 버튼이 입력창 위로 오도록 설정 */
    transition: background-color 0.3s;

}

/* Password 입력창 */
#signup-password {
    position: relative;
    top: -23px; /* 위로 40px 이동 */
    left: 190px; /* 기준 위치 */
}

/* Full Name 입력창 */
#signup-name {
    position: relative;
    top: -29px; /* 위로 60px 이동 */
    left: 190px; /* 오른쪽으로 10px 이동 */

}

/* Nickname 입력창 */
#signup-nickname {
    position: relative;
    top: -33px; /* 위로 80px 이동 */
    left: 190px; /* 왼쪽으로 15px 이동 */
    z-index: 1; /* 버튼이 입력창 위로 오도록 설정 */
}

/* Nickname 중복 검사 버튼 */
/* Nickname 중복 검사 버튼 */
#check-nickname-btn {
    background-color: rgb(81 81 81);
    color: #fff;
    font-size: 0.7rem; /* 글자 크기 */
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 1px 2px; /* 버튼 내부 여백 */
    width: 70px; /* 버튼 너비 */
    height: 35px; /* 버튼 높이 */
    position: relative;
    top: -117px; /* 위로 120px 이동 (기존보다 작은 값으로 조정) */
    left: 330px; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 버튼 중심 정렬 */
    cursor: pointer;
    z-index: 2; /* 버튼이 입력창 위로 오도록 설정 */
    transition: background-color 0.3s;
}


/* Role 선택 드롭다운 */
#signup-role {
    position: relative;
    top: -85px; /* 위로 100px 이동 */
    left: 190; /* 기준 위치 */
}

/* Email 입력창 */
#signup-email {
    position: relative;
    top: -65px; /* 위로 120px 이동 */
    left: 190px; /* 왼쪽으로 10px 이동 */
}

/* 이메일 전송 버튼 */
#send-verification-btn {
    background-color: rgb(81 81 81);
    color: #fff;
    font-size: 0.7rem; /* 글자 크기 */
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 1px 2px; /* 버튼 내부 여백 */
    width: 70px; /* 버튼 너비 */
    height: 35px; /* 버튼 높이 */
    position: relative;
    top: -149px; /* 위로 120px 이동 (기존보다 작은 값으로 조정) */
    left: 330px; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 버튼 중심 정렬 */
    cursor: pointer;
    z-index: 2; /* 버튼이 입력창 위로 오도록 설정 */
    transition: background-color 0.3s;
}

/* 인증번호 입력창 */
#verification-code {
    position: relative;
    top: -100px; /* 위로 140px 이동 */
    left: 190px; /* 기준 위치 */
}

/* 인증번호 확인 버튼 */
#verify-button {
    background-color: rgb(81 81 81);
    color: #fff;
    font-size: 0.7rem; /* 글자 크기 */
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 1px 2px; /* 버튼 내부 여백 */
    width: 90px; /* 버튼 너비 */
    height: 35px; /* 버튼 높이 */
    position: relative;
    top: -185px; /* 위로 120px 이동 (기존보다 작은 값으로 조정) */
    left: 320px; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 버튼 중심 정렬 */
    cursor: pointer;
    z-index: 2; /* 버튼이 입력창 위로 오도록 설정 */
    transition: background-color 0.3s;
}

/* Sign Up 버튼 */
#submit-button {
    position: relative;

    top: -300px; /* 위로 160px 이동 */
    left: -8px; /* 기준 위치 */
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(219 134 14);
    color: #FFFFFF;
    border: none;
    width: 400px;
    height: 45px;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin: 180px auto;
    display: block;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    background-color: transparent !important;
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

/* Focus 상태에서도 텍스트 색상을 강제로 흰색으로 유지 */
input:-webkit-autofill:focus {
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
    background-color: transparent !important;
}

/* Change the color to your own background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    /*-webkit-box-shadow: 0 0 0px 1000px white inset !important;*/
    -webkit-text-fill-color: rgb(219 134 14) !important;
}.modal {
     display: none;
     position: fixed;
     z-index: 1000;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     padding: 20px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
     border-radius: 10px;
 }

.modal-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}
.modalInputs{
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    top: 0;
    margin-right: 50px;
}