html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#main-wrapper {
    margin-top: 225px; /* 네브바 높이만큼 마진 추가 */
    margin-bottom: 100px; /* 푸터 높이만큼 마진 추가 */
    min-height: calc(100vh - 225px - 100px); /* 뷰포트 높이에서 네브바와 푸터 높이 차감 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main 영역 */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0 40px;
    color: #333;
}

/* container 클래스 스타일링 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* label 스타일링 */
label {
    font-size: 16px;
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    width: 100%;
}

/* input 필드 스타일 */
input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* 중복 검사 버튼 */
button.duplicate {
    background-color: #057426;
    color: #fff;
    border: none;
    width: 80px;
    height: 30px;
    padding: 8px 12px;
    font-size: calc(0.5rem + 0.2vw); /* 반응형 폰트 크기 */
    line-height: 1; /* 텍스트 간격 조정 */
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    overflow: hidden; /* 넘친 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘친 부분에 ... 표시 */
    position: relative; /* 현재 위치를 기준으로 이동 */
    left: 178px; /* 왼쪽으로 20px 이동 */
    top: -5px; /* 위로 10px 이동 */
    transition: background-color 0.3s ease;
}




/* 닉네임 변경 버튼 */
button.confirm {
    font-size: 1.2rem;
    font-weight: 600;
    background: #057426; /* 초록색 배경 */
    color: #fff; /* 흰색 텍스트 */
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}