<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/admin.js}"></script>
  <link th:href="@{/css/admin.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">SWFM</div>
    <nav>
      <ul>
        <li><a href="#">봄날에 디자인연...</a></li>
        <li><a href="#">디자인모드</a></li>
        <li><a th:href="@{/menu}" class="active">사이트 바로가기</a></li>
      </ul>
      <h4>사이트 관리</h4>
      <ul>
        <li><a href="#" class="active">상품추가</a></li>
        <li><a href="#">사용자 관리</a></li>
        <li><a href="#">쇼핑</a></li>
        <li><a href="#">컨텐츠 관리</a></li>
        <li><a href="#">마케팅 관리</a></li>
        <li><a href="#">통계</a></li>
        <li><a href="#">환경설정</a></li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="content">
    <header>
      <h1>상품추가</h1>
    </header>

    <section class="dashboard">
      <div class="top-cards">
        <div class="card">
          <h3>오늘의 할 일</h3>
          <p>현재 상품 개수 <strong>0</strong></p>
          <p>누적 주문량 <strong>0</strong></p>
        </div>
      </div>

      <div class="chart-container">
        <h3>추가할 상품의 정보를 입력해주세요</h3>
        <br>
        <div></div>
      </div>
    </section>
  </main>
</div>

</body>
</html>