<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/cartList.js}"></script>
  <link th:href="@{/css/user.css}" rel="stylesheet">
  <link th:href="@{/css/cartList.css}" rel="stylesheet">
  <link th:href="@{/css/test.css}" rel="stylesheet">

  <script src="https://js.tosspayments.com/v1"></script>
  <title>상품 추가</title>
</head>
<body>
<input type="hidden" id="hiddenUserId">
<input type="hidden" id="hiddenTotalMoney">
<input type="hidden" id="hiddenProducts">
<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">SWFM</div>
    <nav>
      <ul>
        <li><a href="#">봄날에 디자인연...</a></li>
        <li><a href="#">디자인모드</a></li>
        <li><a th:href="@{/index}">사이트 바로가기</a></li>
      </ul>
      <h4>사이트 관리</h4>
      <ul>
        <li><a href="#" class="active">장바구니</a></li>
        <li><a href="#">주문내역</a></li>
        <li><a href="#">쿠폰현황</a></li>
        <li><a href="#">내정보</a></li>
        <li><a href="#">환경설정</a></li>
      </ul>
      <h4>리뷰 관리</h4>
      <ul>
        <li><a href="#" th:href="@{/mypage/availableReview}">작성 가능한 리뷰</a></li>
        <li><a href="#">작성한 리뷰</a></li>
      </ul>
    </nav>
  </aside>


  <!-- Main Content -->
  <main class="content">
    <header>
      <h1>장바구니</h1>
    </header>

    <section class="dashboard">
      <div class="top-cards">
        <div class="card">
          <h3>오늘의 할 일</h3>
          <p>담은 샌드위치 개수<strong>0</strong></p>
        </div>
      </div>

      <div class="product-form-container">
        <h3>목록</h3>
        <form>
          <div class="form-group">
            <div class="getCartList">
              <div id="cartContainer">
                  <!-- 여기에 동적으로 상품을 보여줌 -->
              </div>
            </div>
          </div>
          <button class="orderButton">주문하기</button>
        </form>
      </div>
    </section>

    <div id="paymentModal" class="payment-modal" style="display: none;">
      <div class="payment-modal-content">
        <span class="payment-close-button" onclick="closeModal()">&times;</span>
        <div class="container">
          <button class="button is-link" onclick="pay('카드', jsons.card);">일반결제창</button>
          <button class="button is-link" onclick="pay('가상계좌', jsons.vaccount);">가상계좌</button>
          <button class="button is-link" onclick="pay('계좌이체', jsons.transfer);">계좌이체</button>
          <button class="button is-link" onclick="pay('휴대폰', jsons.phone);">휴대폰</button>
          <button class="button is-link" onclick="pay('문화상품권', jsons.certificate);">문화상품권</button>
          <button class="button is-link" onclick="pay('도서문화상품권', jsons.bookcert);">도서문화상품권</button>
          <button class="button is-link" onclick="pay('게임문화상품권', jsons.gamecert);">게임문화상품권</button>
        </div>
      </div>
    </div>


  <!--------------------------- 여기까지 수정하면 됩니다 --------------------------->

  </main>
</div>
</body>
<script>

  let payPrice = parseFloat($('#hiddenTotalMoney').val());
  let products = $('#hiddenProducts').val(); // 상품 이름을 저장할 배열
  let userId = $('#hiddenUserId').val();
  let jsons;

  let path = "/";
  let successUrl = window.location.origin + path + "/success";
  let failUrl = window.location.origin + path + "mypage/cartList";
  let callbackUrl = window.location.origin + path + "va_callback";
  let orderId = new Date().getTime();
  function decodeJWT(token) {
    try {
      const base64Url = token.split('.')[1];
      const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      const jsonPayload = decodeURIComponent(atob(base64).split('').map(c => {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));
      return JSON.parse(jsonPayload);
    } catch (error) {
      console.error('JWT 디코딩 실패:', error);
      return null;
    }
  }

  /** JWT 유효성 검사 함수 */
  function isTokenValid(token) {
    const decoded = decodeJWT(token);
    if (!decoded) {
      console.error('JWT 디코딩에 실패했습니다.');
      return false;
    }

    const currentTime = Math.floor(Date.now() / 1000);
    return currentTime >= decoded.iat && currentTime <= decoded.exp;
  }
  $(document).on('click', '.orderButton', function (event) {
    navigator.geolocation.getCurrentPosition(
            (position) => {
    const { latitude, longitude } = position.coords;
              saveDeliveryLocation(latitude, longitude);
            },
            (error) => {
              alert("위치 정보를 가져오는 데 실패했습니다.");
              console.error(error);
            } );
    const token = localStorage.getItem("accessToken");

    // 토큰 유효성 검사
    if (!token || !isTokenValid(token)) {
      alert('로그인이 필요합니다.');
      location.href = "/login";
      return;
    }

    // JWT 디코딩
    const decoded = decodeJWT(token);

    function saveDeliveryLocation(latitude, longitude) {
      console.log('decoded.sub',decoded.sub,'latitude',latitude,'longitude',longitude);
      fetch(`/api/location/update-location`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          deliveryPersonId: decoded.sub,
          latitude: latitude,
          longitude: longitude,
        }),
      })
              .then((response) => {
                if (!response.ok) {
                  throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
              })
              .then((data) => {
                console.log("유저 위치 저장 성공:", data);
              })
              .catch((error) => {
                console.error("유저 위치 저장 실패:", error);
              });
    }
    payPrice = parseFloat($('#hiddenTotalMoney').val());
    products = $('#hiddenProducts').val(); // 상품 이름을 저장할 배열
    userId = $('#hiddenUserId').val();

    console.log("payPrice is :: ", payPrice);
    console.log("products is :: ", products);
    console.log("userId is :: ", userId);
    jsons = {
      "card": {
        "amount": payPrice,
        "orderId": "sample-" + orderId,
        "orderName": products,
        "successUrl": successUrl,
        "failUrl": failUrl,
        "cardCompany": null,
        "cardInstallmentPlan": null,
        "maxCardInstallmentPlan": null,
        "useCardPoint": false,
        "customerName": userId,
        "metadata": {
          "userId": userId, // 사용자 ID를 metadata에 포함
        },
        "customerEmail": null,
        "customerMobilePhone": null,
        "taxFreeAmount": null,
        "useInternationalCardOnly": false,
        "flowMode": "DEFAULT",
        "discountCode": null,
        "appScheme": null
      },
      "vaccount": { //가상계좌 결제창

        "amount": payPrice,
        "orderId": "sample-" + orderId,
        "orderName": products,
        "successUrl": successUrl,
        "failUrl": failUrl,
        "validHours": 72,
        "virtualAccountCallbackUrl": callbackUrl,
        "customerName": userId,
        "customerEmail": null,
        "customerMobilePhone": null,
        "taxFreeAmount": null,
        "metadata": {
          "userId": userId, // 사용자 ID를 metadata에 포함
        },
        "cashReceipt": {
          "type": "소득공제"
        },
        "useEscrow": false

      },
      "transfer": { //계좌이체 결제창

        "amount": payPrice,
        "orderId": "sample-" + orderId,
        "orderName": products,
        "successUrl": successUrl,
        "failUrl": failUrl,
        "customerName": userId,
        "customerEmail": null,
        "customerMobilePhone": null,
        "taxFreeAmount": null,
        "metadata": {
          "userId": userId, // 사용자 ID를 metadata에 포함
        },
        "cashReceipt": {
          "type": "소득공제"
        },
        "useEscrow": false

      },
      "phone": { // 휴대폰 결제창

        "amount": payPrice,
        "orderId": "sample-" + orderId,
        "orderName": products,
        "successUrl": successUrl,
        "failUrl": failUrl,
        "mobileCarrier": null,
        "customerName": userId,
        "metadata": {
          "userId": userId, // 사용자 ID를 metadata에 포함
        },

      },

      "certificate": { //상품권 결제창
        "amount": payPrice,
        "orderId": "sample-" + orderId,
        "orderName": products,
        "successUrl": successUrl,
        "failUrl": failUrl,
        "customerName": userId,
        "metadata": {
          "userId": userId, // 사용자 ID를 metadata에 포함
        },
      },

      "bookcert": { //도서문화상품권 결제창
        "amount": payPrice,
        "orderId": "sample-" + orderId,
        "orderName": products,
        "successUrl": successUrl,
        "failUrl": failUrl,
        "customerName": userId,
        "metadata": {
          "userId": userId, // 사용자 ID를 metadata에 포함
        },
      },
      "gamecert": { // 게임문화상품권 결제창
        "amount": payPrice,
        "orderId": "sample-" + orderId,
        "orderName": products,
        "successUrl": successUrl,
        "failUrl": failUrl,
        "customerName": userId,
        "metadata": {
          "userId": userId, // 사용자 ID를 metadata에 포함
        },
      }


    }

  });

  let tossPayments = TossPayments("test_ck_vZnjEJeQVxeEnpv2LGobrPmOoBN0");

  function pay(method, requestJson) {
    console.log("결제 요청 JSON: ", requestJson); // 결제 요청 데이터 출력
    tossPayments.requestPayment(method, requestJson)
            .catch(function (error) {

              if (error.code === "USER_CANCEL") {
                alert('유저가 취소했습니다.');
              } else {
                alert(error.message);
              }

            });
  }

</script>

</html>